node_modules

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
.env.*





/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock


### general gitignores ###
.bash*
.buildpath
.cache
.config
.DS_Store
.gitconfig
.github
.grunt
.idea
.lesshst
.local
.metadata
.mysql_history
.php_cs
.php_cs.cache
.project
.rediscli_history
.settings
.ssh/*
.viminfo
.vscode

atlassian*
local_access.txt
nbproject
node_modules

*.swp
*.rej
*.xlsx#
*_old
*.sublime-*
*.log

docker-compose.yml 
shopify.app.toml

storage/

extensions/*/test*.json

*.diff
diff.txt

### general gitignores ###